{% extends "base.html" %}
{% block content %}

    <div class="container">

        <!-- Page Header -->
        <h4 class="center-align page-header">Edit Category</h4>

        <!-- Card panel containing form -->
        <div class="row card-panel grey lighten-5">
            <!-- Form -->
            <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category_id) }}">
                <div class="row">
                    <!--Categories-->
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix cyan-text"></i>
                        <input id="category_name" name="category_name" minlength="3" maxlength="25"
                            class="validate" value = "{{ category.category_name }}" required>
                        <label for="category_name">Category Name</label>
                    </div>
                </div>
                <!--submit button-->
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_categories') }}" class="btn-large orange text-shadow">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <button type="submit" class="btn-large cyan darken-2 text-shadow">
                           Edit Category <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>    
    
{% endblock %}