{% extends "base.html" %}
{% block content %}

    <!-- Hero image section -->
    <!-- Background image container -->
   
        <div class = "slider">
            <ul class="slides">
                <li>
                    <img src="https://images.pexels.com/photos/5593158/pexels-photo-5593158.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="image1">
                </li>
                <li>
                    <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="image2">
                </li>
                <li>
                    <img src="https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="image3">
                </li>
                <li>
                    <img src="https://images.pexels.com/photos/4163020/pexels-photo-4163020.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="image4">
                </li>
                <li>
                    <img src="https://images.pexels.com/photos/2338407/pexels-photo-2338407.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="image5">
                </li>
            </ul>

        </div>
    

    <!-- Homepage info text section -->
    <div class="container home-info">
        <div class="row">
            <!-- Text section: about site -->
            <div class="col s12">
                <h5 class="center-align page-header">Recipes</h5>
                <div class="divider"></div>
                <p class="center-align home-text">Cooking Instructions is a recipe sharing website. Learn easy and simple recipes,
                    which are quick to make. Let's start to search here!</p>
                <!-- Button link to recipes.html -->
                <div class="center-align">
                    <a href="#" class="btn-small">Recipes</a>
                </div>
            </div>
            <!-- Text section: about registering -->
            <div class="col s12">
                <h5 class="center-align page-header">Register / Login</h5>
                <div class="divider"></div>
                <p class="center-align home-text">Register to share your own recipes with us, 
                    In a few simple steps, you can add your ingredients, method, image and cooking instructions</p>
                <!-- Button link to register.html -->
                <div class="center-align">
                    <a href="#" class="btn-small">Register</a>
                    <a href="#" class="btn-small">Login</a>
                </div>
            </div>
            <!-- Text section: about Support or Feedback -->
            <div class="col s12">
                <h5 class="center-align page-header">Support / Feedback</h5>
                <div class="divider"></div>
                <p class="center-align home-text">Are you facing any technical problem or 
                    you have any question or want to give some feedback, 
                    please feel free to drop here! </p>
                <!-- Button link to recipes.html -->
                <div class="center-align">
                    <a href="#" class="btn-small">Support/Feedback</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}